.container {
    padding: 10px;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    /* margin-left: 100px; */
    justify-content: space-around;
    box-sizing: border-box;
}

.form {
    background-color: rgba(243, 155, 243, 0.904);
    box-shadow: 5px 5px 10px 5px rgb(62, 34, 109);
    border-radius: 6px;
    padding: 20px;
    /* width: 25%; */
}

input[type=radio],
input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.submit {
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 5px;
    color: #faebd7;
    margin: 2px;
}

.cancel {
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 5px;
    color: #faebd7;
}

input {
    display: inline-block;
    height: 30px;
}

table {
    /* width:60%; */
    border-collapse: collapse;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    width: 100%;
    border: 1px solid black;

}

th {
    border: 1px solid black;
    padding: 2px;
    color: white;
    background-color: #7a176a;
    padding: 5px;

}

td {
    border: 1px solid #0a0101;
    padding: 2px;
    color: white;
    background-color: #c26cb3;
    text-align: center;
    padding: 5px;
}

.edit {
    background-color: green;
    margin: 2px;
}

.del {
    background-color: red;
}

.btn {
    color: white;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

@media only screen and (max-width:760px),
(min-device-width: 768px) and(max-device-width:1024px) {
    .container {
        flex-direction: column;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    table {
        border-collapse: collapse;
        border: 1px solid black;
        width: 100%;
        margin-left: auto;
    }

    th,
    td {
        border: 1px solid black;
        padding: 2px;
        text-align: justify;
    }

}

@media screen and (max-width:760px),
(min-device-width: 768px) and(max-device-width:1024px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead th {
        position: absolute;
        top: -9999px;
        left: -9999px;

    }

    th {
        display: none;
        background: #c5c5c5;
    }

    tr {
        border-bottom: 1px solid black;
    }

    td {
        border: none;
        border-bottom: 1 px solid black;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;

    }

    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Email";
    }

    td:nth-of-type(3):before {
        content: "FirstName";
    }

    td:nth-of-type(4):before {
        content: "LastName";
    }

    td:nth-of-type(5):before {
        content: "PhoneNumber";
    }

    td:nth-of-type(6):before {
        content: "Dob";
    }

    td:nth-of-type(7):before {
        content: "Gender";
    }

    td:nth-of-type(8):before {
        content: "Action";
    }
}

@media screen and (min-device-width: 320px) and(max-device-width:480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;

    }

}

@media screen and (min-device-width: 768px) and(max-device-width:1024px) {
    body {
        width: 495px;

    }

}